<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="ApplicationSettings">
      <section name="applicationSetting" type="JDA.Intactix.Configuration.NameValueSection, JDA.Intactix.Configuration" />
    </sectionGroup>
    <sectionGroup name="jda.intactix.ikb">
      <!--default database-->
      <section name="databaseSettings" type="JDA.Intactix.Configuration.DbConfigurationSection, JDA.Intactix.Configuration" />
      <!--dbsettings for configuration dialog-->
      <section name="defaultSettings" type="JDA.Intactix.Configuration.DbConfigurationSection, JDA.Intactix.Configuration" />
      <section name="webApiSettings" type="JDA.Intactix.Configuration.WebApiConfigurationSection, JDA.Intactix.Configuration" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SleepTimeInMilliseconds" value="5000" />
    <add key="MultiDailyCreateFloor_PdfDirectory" value="\\USHQFS1\Storemaps$\Manual_PDF\FLOORPLAN PDF" />
    <add key="MultiDailyCreateFloor_LogDirectory" value="\\USHQFS1\Storemaps$\Manual_PDF\log" />
    <add key="MultiDailyCreateFloor_LogHeaderFileName" value="PDFLogHeader.txt" />
    <add key="MultiDailyCreateFloor_QueryName" value="FLRLIST" />
    <add key="MultiDailyCreateFloor_ProcessedFileName" value="processedPDFs.txt" />
    <add key="MultiDailyCreatePlano_PdfDirectory" value="\\USHQFS1\Planograms$\Manual_PDF\PDF" />
    <add key="MultiDailyCreatePlano_LogDirectory" value="\\USHQFS1\Planograms$\Manual_PDF\log" />
    <add key="MultiDailyCreatePlano_LogHeaderFileName" value="PDFPOGLogHeader.txt" />
    <add key="MultiDailyCreatePlano_QueryName" value="POGLIST" />
    <add key="MultiDailyCreatePlano_ProcessedFileName" value="processedPOGPDFs.txt" />
    <add key="CkbCreateFloorplan_PdfDirectory" value="\\USHQFS1\Storemaps$\Merch" />
    <add key="CkbCreateFloorplan_LogDirectory" value="\\USHQFS1\Storemaps$\log" />
    <add key="CkbCreateFloorplan_LogHeaderFileName" value="PDFLCMLogHeader.txt" />
    <add key="CkbCreateFloorplan_QueryName" value="FLRPDFLCM" />
    <add key="CkbCreateFloorplan_ProcessedFileName" value="processedLCMPDFs.txt" />
    <add key="CkbCreatePlanogram_PdfDirectory" value="\\USHQFS1\Planograms$\JDA_PRD_Staging_D\PLANOGRAM PDF" />
    <add key="CkbCreatePlanogram_LogDirectory" value="\\USHQFS1\Planograms$\JDA_PRD_Staging_D\log" />
    <add key="CkbCreatePlanogram_LogHeaderFileName" value="PDFPOGLCMLogHeader.txt" />
    <add key="CkbCreatePlanogram_QueryName" value="SPCPDFLCM" />
    <add key="CkbCreatePlanogram_ProcessedFileName" value="processedPOGLCMPDFs.txt" />
    <add key="CreateLivePlanos_Directory" value="\\USHQFS1\Storemaps$\PDF\POGLIST" />
    <add key="CreateLivePlanos_FileName" value="poglist.txt" />
    <add key="CreateLivePlanos_QueryName" value="LIVE POG LIST" />
  </appSettings>
  <jda.intactix.ikb>
    <databaseSettings configProtectionProvider="SAProConfigurationEncrypter">
      <EncryptedData>EsnTA72+HgeijPye+1cJiOQXpj3T5XnJgmDH7GqklQGv/yMR5pE+bHwWKSgskrck/tRluGcqY7MHpcs+9BJqI4OMcCiX04Yy8t4rCPLYAyqGJ3l8fTuKKZjYblMqoHpgKGDwChH1IwW0KKWtShPpmMuWZ6KUwZd4rY6T+ZmfgRwcn3fbP4dPaTUdY/kBdEJJaUebE6pMPaGMKoAGwUyNsempmd06xh+Xoi+3XIVTvkmVVOu4WDZ4RM3RaDQqt4GtYNGDi/frDKG/yfy+eSbALw==</EncryptedData>
    </databaseSettings>
    <!--dbsettings for configuration dialog-->
    <defaultSettings configProtectionProvider="SAProConfigurationEncrypter">
      <EncryptedData>v8fhiieBFeTCFjI1wFo7nknZybdsme8FWvAVTc9wDC7e4zSwCKoOdzNN/IoWxWlntwD8fGDEhVdgRe8vc0FPExywCH1N5QAm2ntaGXxUytUTvfq0689mWbI2EDv0mrV6yraxYUfVL0ouP13yz40Tc+soZuoajUTvqIK/9ip5xfIANe/pH51Yk6ss7fVUeM8WJ0iZ+DZPnICe+AcobowoGUCqmdK3KSXhd4pQ+rj2gjwidSUcQ+SZHeIiqoylU608ofJBTKAKElcrZaGOQi48MA==</EncryptedData>
    </defaultSettings>
    <webApiSettings configProtectionProvider="SAProConfigurationEncrypter">
      <EncryptedData>wBYrwclEHeEhpzRclYVmoFo+cBUyeX9rgQEp5nmm8zKCqcuScqs67ltqzB5TDOwNxZU3Xv9rxAZA2kBdgYaz2jYgtvPgCvJmEWyUXYbIchv698MPHRo/DNcDM70BIRDlfv7UMyGwte6diLgXplYf7S+Hwmz6kW5FHi8lZnoM0FSD7FhoUp3wMB3BR8ErvtFG</EncryptedData>
    </webApiSettings>
  </jda.intactix.ikb>
  <ApplicationSettings>
    <applicationSetting>
      <add name="LogFilePath" value="" />
      <add name="StartSpacePlanning" value="false" />
      <add name="StartFloorPlanning" value="false" />
      <add name="UseWebApi" value="false" />
    </applicationSetting>
  </ApplicationSettings>
  <configProtectedData defaultProvider="SAProConfigurationEncrypter">
    <providers>
      <add name="SAProConfigurationEncrypter" type="JDA.Intactix.Automation.Helper.SAProConfigurationEncrypter, JDA.Intactix.Automation" />
    </providers>
  </configProtectedData>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>